/utils/__pycache__/
__pycache__/
*.pyc
# /data/intermediate_audios/
# /data/processed_audios/*.wav
# !/data/processed_audios/*_not_scrambled.wav
/data/original_audios/
/data/processed_audios/
/data/intermediate_audios/